{% extends "index.html"%}
{% load cache %}
{% cache 120 blog_template %}

{% load markup %}
{% load blurb_edit %}

{% block content %}
{% for post in blog_posts %}
    <h2>{{ post.title }}</h2>
    <div class="bp_author">by {{ post.author.get_full_name }}</div>
    <span class="bp_date"><em>{{ post.pub_date|date:"l, j F Y"|lower }}</em></span>
    <div class="blog_post">{{ post.text|textile }}</div>
{% endfor %}
{% endblock %}

{% block css %}
.sponsor_logo {
  margin: 20px;
}
{% endblock css %}

{% block right_column %}
{# {% wiki_blurb blog_right_column %} #}
{#      wydaje mi się, że ten blok nie powinien być wszucany do trans-stringów      #}
{#      ułatwi to wrzucanie niektórych ważnych informacji (np linków do sponsorów), #}
{#      w przyszłości to powinno być przesunięte do bazy. (dreamer_)                #}
<h2>Informacje:</h2>
<h4>Miejsce</h4>
<p>
<a href="http://www.michalowice-piechowice.pl/">Ośrodek Uroczysko</a> w
<a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Piechowice,+Wczasowa+6,+Poland&aq=0&sll=50.835432,15.608826&sspn=0.288377,0.710678&ie=UTF8&hq=&hnear=Wczasowa+6,+Piechowice,+Jeleniog%C3%B3rski,+Dolno%C5%9Bl%C4%85skie,+Poland&ll=50.818083,15.590973&spn=0.144242,0.486145&z=12">Michałowicach – Piechowicach</a>

</p>
<p>
<h4>Planowane terminy</h4>
</p>
<ul style="margin-left:0.2em">
    <li>zapisy i wpłaty<br/>do 24 lutego 2011, 23:59</li>
    <li>zgłaszanie wykładów<br/>do 24 lutego 2011, 23:59</li>
    <li>zapisy na pokoje<br/>od 26 lutego 2011, 18:00</li>
    <li>wyjazd<br/>3 marca 2011</li>
    <li>powrót<br/>6 marca 2011</li>
</ul>
<h4>Kontakt</h4>
<p>
<a href="mailto:ksi@cs.uni.wroc.pl">ksi@cs.uni.wroc.pl</a>
</p>
<p>
<a href="http://www.ii.uni.wroc.pl/"><img src='/static_media/images/ii1.png' alt='Instytut Informatyki UWr' title='Instytut Informatyki UWr' /></a>
<a href="http://sites.google.com/a/cs.uni.wroc.pl/ksi/"><img src='/static_media/images/ksi1.png' alt='Koło Studentów Informatyki' title='Koło Studentów Informatyki UWr' /></a>
</p>
<br/>
<h4>Patronat</h4>
<p>
<ul>
<li><a href="http://www.wmi.uni.wroc.pl/">Wydział Matematyki i Informatyki Uniwersytetu Wrocławskiego</a></li>
{# <li><a href="http://www.uni.wroc.pl/">JM. Rektor Uniwersytetu Wrocławskiego</a></li> #}
<li>Dyrektor Insytutu Informatyki Uniwersytetu Wrocławskiego - prof. Leszek Pacholski</li>
</ul>
</p>

<h4>Sponsorzy</h4>
<p>
<div class="sponsor_logo">
<a href="http://www.ii.uni.wroc.pl/"><img src='/static_media/images/ii1.png' alt='Instytut Informatyki UWr' title='Instytut Informatyki UWr' /></a>
</div>
{#<div class="sponsor_logo">#}
        {# <a href="http://sprezentuj.pl"><img src='/static_media/images/logo_sprezentuj.pl_175x120.png' alt='Sprezentuj.pl' title='Sprezentuj.pl' /></a> #}
{# </div> #}
<div class="sponsor_logo"> 
	 <a href="http://nk.pl/"><img src='/static_media/images/logo_poziome_175x88_bg.png' alt='Nasza Klasa - miejsce spotkań' title='Nasza Klasa - miejsce spotkań' /></a> 
</div> 
<div class="sponsor_logo"> 
	 <a href="http://www.neurosoft.pl/?lang=pl"><img src='/static_media/images/Logo_neurosoft175x30_ciemne.jpg' alt='Neurosoft' title='Neurosoft' /></a> 
</div> 
<div class="sponsor_logo"> 
	 <a href="http://www.techland.pl/"><img src='/static_media/images/logo_techland175x60.png' alt='Techland' title='Techland' /></a> 
</div> 
</p>
{% endblock %}
{% endcache %}
