{% extends "index.html"%}
{% load i18n %}

{% block css %}
#register_nights, 
#register_breakfasts, 
#register_dinners { 
    display: inline;
}
#register_nights     label,
#register_breakfasts label,
#register_dinners    label { 
    width: 10em;
}
#register_other label {
    display: inline;
    width: 15.3em;
}
.nasty_choices_li label { float: left; }
.nasty_choices_li select { width: 7em; }
}
{% endblock css %}

{% block content %}
{% if user_paid %}
    <ul class="messages">
        {#        <li>{% trans "Paid was registered, see you soon!" %}</li> #}
        <li>Otrzymaliśmy Twoją wpłatę za ZOSIĘ. Jeżeli chcesz dokonać zmian, skontaktuj się z organizatorami.</li>
    </ul>
{% else %}
{% if payment and not user_paid %}
<h2>Dane do przelewu</h2>
<table>
<tr><td>
<pre>rachunek odbiorcy
tytuł przelewu
imię, nazwisko odbiorcy
adres 
miejscowość
kwota
</pre>
</td><td>
<pre>12 1140 2017 0000 4402 0724 4975
[ZOSIA11] {{user.first_name}} {{user.last_name}}
Małgorzata Joanna Jurkiewicz 
ul. Mewia 38
51-418 Wrocław
{{ payment }} zł
</pre>
</table>
<p>
Potwierdzenie przyjęcia wpłaty zostanie wysłane na&nbsp;Twój adres e-mail.
</p>
{% else %}
    <ul class="error_messages">
        <li>{% trans "Repair errors below, please." %}</li>
    </ul>
{% endif %}
{% endif %}

{# a teraz to samo, tylko dla wpłat na busy #}
{# a w tym roku laczymy wplaty za obie rzeczy w jedna - Karol #}
{% comment %}
{% if user_paid_for_bus %}
    <ul class="messages">
        <li>Zarejestrowaliśmy również wpłatę za transport. Do zobaczenia na ZOSI!</li>
    </ul>
{% else %}
{% if user_wants_bus and not user_paid_for_bus %}
<h2>Dane do przelewu za transport</h2>
<table>
<tr><td>
<pre>rachunek odbiorcy
tytuł przelewu
imię, nazwisko odbiorcy
adres 
miejscowość
kwota
</pre>
</td><td>
<!-- FIXME -->
<pre>42 1140 2004 0000 3902 5907 3265
[ZOSIA10] Autokar - {{user.first_name}} {{user.last_name}}
Aleksandra Czernecka
ul. Jagiełły 41c/10
41-106 Siemianowice Śląskie
40 zł
</pre>
</table>
<p>
Potwierdzenie przyjęcia wpłaty zostanie wysłane na&nbsp;Twój adres e-mail.
</p>
{% endif %}
{% endif %}
{% endcomment %}

{# brr, to trzeba będzie naprawić... ale po zosi; nie lubię dostawać wymagań w dniu #}
{# w którym trzeba je zaimplementować :/ #}

<h2>{% trans "Preferences" %}</h2>

<form action="." method="post" id="register_form">
    <fieldset id="register_personal">
        <legend>{% trans "authentication" %}</legend>
        <ol>
            <li>
            <label>e-mail</label>
                {{ user.email }}
            </li>
            <li>
                <label>{% trans "password" %}</label>
                <a href="/password_change/">{% trans "change" %}</a>
            </li>
        </ol>
    </fieldset>
    <fieldset id="register_personal">
        <legend>{% trans "personal" %}</legend>
        <ol>
            <li>
            <label>{% trans "name" %}, {% trans "surname" %}</label>
                {{ user.first_name }} {{ user.last_name }}
            </li>
            <li>
                {# bw careful with errors here - if there are more than 1 orgs#}
                {% if form.organization_1.errors %}
                <ul class="errorlist">
                {% for error in form.organization_1.errors %}
                    <li>{{error|escape}}</li>
                {% endfor %}
                </ul>
                {% endif %}
                <label for="id_organization_1">
                   {% trans "organization" %}
                </label>
                {{ form.organization_1 }}
            </li>
            <li>
            <label>{% trans "room openning hour" %}</label>
                {{ user_openning_hour }} 
            </li>
            <li>
            <label>{% trans "bus hour" %}</label> {{ form.bus_hour}} 
            </li>


        </ol>
    </fieldset>
    <fieldset id="register_nights">
        <legend>{% trans "nights" %}</legend>
        <ol>
            {% if form.day_3.errors %}
            <ul class="errorlist">
            {% for error in form.day_3.errors %}
                <li>{{error|escape}}</li>
            {% endfor %}
            </ul>
            {% endif %}
            <li>
            {{ form.day_1 }} <label for="id_day_1">{% trans "night12" %}</label>
            </li>
            <li>
            {{ form.day_2 }} <label for="id_day_2">{% trans "night23" %}</label>
            </li>
            <li>
            {{ form.day_3 }} <label for="id_day_3">{% trans "night34" %}</label>
            </li>
        </ol>
    </fieldset>
    <fieldset id="register_dinners">
        <legend>{% trans "dinners" %}</legend>
        <ol>
            {% if form.dinner_3.errors %}
            <ul class="errorlist">
            {% for error in form.dinner_3.errors %}<li>{{error|escape}}</li>{% endfor %}
            </ul>
            {% endif %}
            <li>
            {{ form.dinner_1}} <label for="id_dinner_1">{% trans "dinner1" %}</label>
            </li>
            <li>
            {{ form.dinner_2}} <label for="id_dinner_2">{% trans "dinner2" %}</label>
            </li>
            <li>
            {{ form.dinner_3}} <label for="id_dinner_3">{% trans "dinner3" %}</label>
            </li>
        </ol>
    </fieldset>
    <fieldset id="register_breakfasts">
        <legend>{% trans "breakfasts" %}</legend>
        <ol>
            {% if form.breakfast_4.errors %}
            <ul class="errorlist">
            {% for error in form.breakfast_4.errors %}<li>{{error|escape}}</li>{% endfor %}
            </ul>
            {% endif %}
            <li>
            {{ form.breakfast_2 }} <label for="id_breakfast_2">{% trans "breakfast2" %}</label>
            </li>
            <li>
            {{ form.breakfast_3 }} <label for="id_breakfast_3">{% trans "breakfast3" %}</label>
            </li>
            <li>
            {{ form.breakfast_4 }} <label for="id_breakfast_4">{% trans "breakfast4" %}</label>
            </li>
        </ol>
    </fieldset>
    <fieldset id="register_other">
        <legend>{% trans "others" %}</legend>
        <ol>
            <li>
            {{ form.vegetarian }}  <label for="id_vegetarian">{% trans "veggies" %}</label>
            </li>
            <li>
            {{ form.bus }}  <label for="id_bus">{% trans "bussies" %}</label>
            </li>
            <li class="nasty_choices_li">
            <label for="id_shirt_size">{% trans "shirties" %}</label> {{ form.shirt_size}}  
            </li>
            <li class="nasty_choices_li">
            <label for="id_shirt_type">{% trans "shirt_type" %}</label> {{ form.shirt_type}} 
            </li>
        </ol>
    </fieldset>
	{% if user_paid %} {# FIXME better way to disable this one is required #}
    <script type="text/javascript">
    <!--
    var ids = ['day_1', 'day_2', 'day_3',
               'breakfast_2', 'breakfast_3', 'breakfast_4',
               'dinner_1', 'dinner_2', 'dinner_3', 'shirt_type', 'shirt_size', 
               'vegetarian', 'bus' ]
    for ( i in ids ) document.getElementById('id_'+ids[i]).disabled=true;
    //-->
    </script> 
    {% endif %}

	{% if not prefs.bus %} 
    <script type="text/javascript">
        document.getElementById('id_bus_hour').disabled=true;
    </script> 
    {% endif %}

    {% if user_paid and user_paid_for_bus %}
    <script type="text/javascript">
    <!--
        document.getElementById('id_bus').disabled=true;
        document.getElementById('id_organization_1').disabled=true;
    //-->
    </script> 
    {% else %}
    <fieldset><input type="submit" value="{% trans "Save" %}" /></fieldset>
    {% endif %}
</form>
{% endblock content %}

{% block right_column %}
<span class="cennik">Cennik</span>
<table>
<tr><td>nocleg:</td><td>40&nbsp;zł</td></tr>
<tr><td>nocleg ze śniadaniem:</td><td>55&nbsp;zł</td></tr>
<tr><td>nocleg z obiadokolacją:</td><td>60&nbsp;zł</td></tr>
<tr><td>nocleg ze śniadaniem i obiadokolacją:</td><td>65&nbsp;zł</td></tr>
<tr><td>opłata organizacyjna:</td><td>15&nbsp;zł</td></tr>
<tr><td>transport:</td><td>45&nbsp;zł</td></tr>
</table>
{% endblock %}
