{% extends "index.html" %}
{% load i18n %}
{% block css %}
ol ol
{
	list-style-type: lower-roman;
}
{% endblock css %}


{% block content %}
<h2>{% trans "Regulamin obozu" %}</h2>
<ol>
<li>
Niniejszy regulamin reguluje zasady obowiązujące uczestników
obozu naukowo-rekreacyjnego ZOSIA 2012, mającego miejsce w Przesiece
w dniach 23-26 lutego 2012, a także definiuje konsekwencje wynikające z nieprzestrzegania tych zasad.
</li>
<li>Organizatorem obozu jest Koło Studentów Informatyki z siedzibą
w Instytucie Informatyki Uniwersytetu Wrocławskiego,
przy ul. Joliot-Curie 15, 50-383 Wrocław.
</li>
<li>Uczestnikami obozu, zwanymi dalej uczestnikami, mogą być jedynie
te osoby zarejestrowane w serwisie internetowym obozu, które uiściły 
odpowiednią opłatę wyliczoną indywidualnie dla każdego uczestnika.
</li>
<li>Obóz rozpoczyna się dnia 23 lutego 2012 i kończy dnia 26 lutego 2012,
jednakże czas pobytu każdego z uczestników jest zależny od jego preferencji 
zadeklarowanych w systemie internetowym.
</li>
<li>W trakcie trwania obozu, uczestnik zobowiązany jest do stosowania się
do poleceń Organizatora i osób przez niego wyznaczonych.
</li>
<li>Nieodpowiednie zachowanie uczestnika w trakcie obozu, w szczególności 
niestosowanie się do poleceń osób wymienionych w pkt. 5, nadużywanie alkoholu,
stosowanie środków odurzających, bądź inne zachowania nieobyczajne, a także
zachowania stwarzające zagrożenie zdrowia i bezpieczeństwa uczestnika
bądź innych uczestników stanowią podstawę do zastosowania następujących
środków dyscyplinujących:
<ol>
<li>upomnienia;</li>
<li>powiadomienia władz organizacji macierzystej (uczelni) o zachowaniu uczestnika;</li>
<li>wydalenia z obozu.</li>
</ol>
<li>O zastosowaniu środka dyscyplinującego, w tym także o rodzaju zastosowanego
środka, decyduje jednoosobowo osoba wskazana przez Organizatora jako Kierownik
obozu. Kierownik obozu może zdecydować o nałożeniu środka najbardziej dotkliwego
bez uprzedniego stosowania pozostałych środków. Kierownik obozu może zdecydować
o zastosowaniu wszystkich środków dyscyplinujących łącznie. Władze uczelni
macierzystych względem osób będących uczestnikami mogą za to samo zachowanie
zastosować kary dyscyplinarne wynikające z Regulaminu Studiów.
</li>
<li>Uczestnik ponosi odpowiedzialność za szkody wyrządzone osobom trzecim
w czasie przebywania na obozie. Organizator nie przejmuje odpowiedzialności
względem osób trzecich za zachowania uczestnika w trakcie obozu. 
</li>
<li>Poprzez swój udział w obozie uczestnik oświadcza względem Organizatora,
iż jest w stanie zdrowia umożliwiającym bezpieczne uczestnictwo w programie obozu. 
</li>
<li>Organizator nie sprawuje pieczy nad osobą uczestnika oraz jego mieniem
w trakcie obozu. W szczególności Organizator nie ponosi odpowiedzialności
za mienie uczestnika pozostawione w obiekcie, w którym organizowany jest obóz.
</li>
<li>Uczestnikowi nie przysługuje zwrot jego świadczenia na rzecz Organizatora
bądź części tego świadczenia w przypadku niepełnego udziału w obozie z przyczyn,
za które Organizator nie odpowiada. W szczególności zwrot świadczenia bądź części
świadczenia nie przysługuje uczestnikowi, względem którego zastosowano karę
przewidzianą w pkt 6.3.
</li>
<li>Warunki rezygnacji:
<ol>
<li>Rezygnacja z imprezy następuje w momencie złożenia przez uczestnika rezygnacji
w formie pisemnej lub elektronicznej na adres pocztowy Organizatora.
</li>
<li>W przypadku rezygnacji potrąca się 100% wpłaconej kwoty.
</li>
<li>Istnieje możliwość zwrotu wpłaconej kwoty, gdy rezygnujący uczestnik znajdzie
na to miejsce innego uczestnika.
</li>
</ol>
</ol>

{% endblock content %}
 
