{% extends "index.html"%}
{% load i18n %}

{% block content %}
{% if user.is_authenticated %}
    <h2>{% trans "loggedalready" %}</h2>
{% else %}
    {% if reason %} {# atheistic template ;) #}
        <h2>{% trans "loginfail" %}</h2>
        {# <p>{{ reason }}</p> #}
        <p>{% trans "loginfailrecover" %}</p>
    {% else %}
        <h2>{% trans "stranger" %}</h2>
    {% endif %}
    <form action="/login/{% if get_redir %}?next={{ get_redir }}{% endif %}" method="post" id="login_form">
        <table>
        {{ form.as_table }}
        </table>
        <input type="submit" value="{% trans "loginbutton" %}" />
    </form>
{% endif %}
{% endblock %}

