{% extends "index.html"%}

{% block content %}
{% if user.is_authenticated %}
    <h2>Hello, aren't you logged in already? :)</h2>
{% else %}
    {% if reason %} {# atheistic template ;) #}
        <h2>Ops, login was unsuccesful... :(</h2>
        <p>{{ reason }}</p>
        <p>You may want to <a href="/register/recover/">recover</a> your password.</p>
    {% else %}
        <h2>Greetings, stranger! :)</h2>
    {% endif %}
    <div>
    </div>
    <form action="/login/" method="post" id="login_form">
        <table>
        {{ form.as_table }}
        </table>
        <input type="submit" value="login" />
    </form>
{% endif %}
{% endblock %}

{% block right_column %}
<h2>Column with some useless info</h2>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam malesuada   suscipit pede. Nullam ipsum lacus, varius vel, nonummy in, consequat ut, neque.   Vivamus viverra. Duis dolor arcu, lacinia sit amet, sollicitudin sed.</p>
<blockquote>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam malesuada   suscipit pede. Nullam ipsum lacus, varius vel, nonummy in, consequat ut, neque.   Vivamus viverra. Duis dolor arcu, lacinia sit amet, sollicitudin sed, aliquet   vel, quam. Pellentesque molestie laoreet tortor. </p>
</blockquote>
<p>Nulla vitae mauris. Phasellus vel ligula quis dolor bibendum egestas. Duis a   massa ut orci varius placerat. Sed leo nulla, tempor nec.</p>
{% endblock %}
