{% extends "index.html"%}
{% load i18n %}
{% load markup %}

{% block css %}

.lecture p, #lecture_abstract {
	text-indent: 1.5em;
	text-align: justify;
	text-justify: inter-word;
	text-align-last: left;
	max-width: 45em;
}
strong.lecture_author + p { text-indent: 0; }
#lecture_author { margin-bottom: 2px;}
#lecture_abstract { margin-bottom: 5px;text-indent: 0;}
#lecture_time { margin-bottom: 1em;}
#note {
    color: #444444;
    font-family: 'Lucida Grande','Trebuchet MS',Verdana,Helvetica,Arial,sans-serif;
    font-size: 11px;
}
{% endblock css %}

{% block content %}

{% if messages %}
    <ul class="messages">
        {% for msg in messages %}
        {% blocktrans %}<li>{{ msg }}</li>{% endblocktrans %}
        {% endfor %}
    </ul>
{% endif %}
{% if lecture_proposition_form.errors %}
    <ul class="error_messages">
        <li>{% trans "Repair errors below, please." %}</li>
    </ul>
{% endif %}

<h2>Warsztaty</h2>

<article class="lecture_special">
	<h3>CodeRetreat@ZOSIA2011</h3>
<div id="lecture_abstract">
CodeRetreat to warsztaty mające na celu poznanie oraz zgłębienie Test-Driven Development i innych dobrych praktyk programistycznych. Skupimy się głównie na tym, jak programować, aby powstały kod był jak najlepszej jakości: czysty i łatwy w późniejszym utrzymaniu. <br><br>

Warsztaty będą składały się z czterech 45-minutowych sesji programowania w parach. Aby wziąć w nich udział, należy przynieść ze sobą komputer (co najmniej jeden na dwie osoby) z zainstalowanym środowiskiem programistycznym, umożliwiającym pisanie i uruchamianie testów jednostkowych.<br><br>

</div><div id="lecture_time"><strong>Plan warsztatów (sobota, 5.03.2011,10:00-15:30):</strong><br>

10:00 - 10:40 Wprowadzenie: co to jest TDD i jak je stosować?<br>

10:40 - 15:00 Cztery sesje programowania w parach (45 min), rozdzielone 15-20 min przerwami<br>

15:00 - 15:30 Podsumowanie i dyskusja<br>

</div>
</article>

<h2>{% trans "Invited talks" %}</h2>

<article class="lecture_special">
	<h3>Przychodzi baba do fryzjera i mówi: Proszę pół trwałej<span id="note"> &nbsp &nbsp<strong>Wykład inauguracyjny</strong></span></h3>
	<div id="lecture_author"><strong>Maciej Piróg, absolwent Instytutu Informatyki, doktorant Oxford University</strong></div>
<div id="lecture_abstract">
Będzie o tym, jak najnowsze trendy w paryskim fryzjerstwie pozwalają nam zaoszczędzić trochę czasu i pieniędzy na destrukcyjnych aktualizacjach mienia publicznego, a to dlatego, że robienie nawet najbrzydszych rzeczy po kryjomu jest w porządku, dopóki nikt się o tym nie dowie. No i będzie coś, co naprawdę pobudza wyobraźnię, czyli (odwrotna) funkcja Ackermanna.</div>
<div id="lecture_time"><strong> Na wykład zapraszamy w czwartek o 21:30 </strong></div>
</article>
<article class="lecture_special">
	<h3>Jak się programuje w NK</h3>
	<div id="lecture_author"><strong>Marek Ziółkowski, firma <a href="http://nk.pl/">nk.pl</a></strong></div>
<div id="lecture_abstract">
Jak wygląda na ogólnym poziomie struktura działu IT? Z kim współpracujemy? Jak wygląda podział na zespoły projektowe?
W jaki sposób umieszczamy kod na produkcji, z jakimi problemami się to wiąże, jakie są nasze rozwiązania? 
Jak wygląda proces rozwoju oprogramowania? Jakich narzędzi i środowisk używamy do rozwijania oprogramowania?</div>
<div id="lecture_time"><strong> Na wykład zapraszamy w piątek</strong></div>
</article>
<article class="lecture_special">
	<h3>Zarządzanie obciążeniem serwerów w klastrze webowym</h3>
	<div id="lecture_author"><strong>Paweł Sadowski, firma <a href="http://nk.pl/">nk.pl</a></strong></div>
<div id="lecture_abstract">
W prezentacji zostanie poruszony problem zarządzania obciążeniem oraz
jak wybrana przez NK metodologia przekłada się na ilość sprzętu
potrzebnego do obsługi ruchu na portalu. Będą poruszone również inne
aspekty bezpośrednio związane z zagadnieniem: czas generowania strony
dla użytkowników, przypinanie użytkowników do serwerów, zapas mocy
obliczeniowej na serwerach.</div>
<div id="lecture_time"><strong> Na wykład zapraszamy w piątek</strong></div>
</article>

<article class="lecture_special">
	<h3>Sztuczna inteligencja w praktyce</h3>
	<div id="lecture_author"><strong>Cezary Dołęga, firma <a href="http://www.neurosoft.pl/?lang=pl">Neurosoft</a>, Dyrektor ds. Badań i Rozwoju </strong></div>
<div id="lecture_abstract">
Sztuczna Inteligencja to pojęcie opisujące bardzo różnorodne techniki informatyczne. 
Co dokładnie oznacza to pojęcie? W jakich dziedzinach życia sztuczna inteligencja ma praktyczne zastosowanie?
Jakie projekty realizuje Neurosoft? Jakie problemy napotykamy w implementacjach? Czy maszyny
kiedykolwiek zaczną samodzielnie myśleć – sztuczna świadomość?</div>
<div id="lecture_time"><strong> Na wykład zapraszamy w sobotę o 17:30 </strong></div>
</article>

<article class="lecture_special">
	<h3>Tworzenie gier to nie zabawa</h3>
	<div><strong>Paweł Rohleder, <a href="http://www.techland.pl/">Techland</a>, Build Process Management Lead / R&D Coordinator</strong></div>
	<div id="lecture_author"><strong>Tomek Urbański, <a href="http://www.techland.pl/">Techland</a>, Junior Game Programmer</strong></div>
<div id="lecture_abstract">
Gry komputerowe są jednymi z najbardziej ambitnych i złożonych projektów informatycznych. Jak powstają gry komputerowe światowego kalibru? Jak się do tego zabrać? Jakie wyzwania stoją przed zespołami uczestniczącymi w procesie produkcji? Jakimi technologiami się bawimy? Te i inne zagadnienia omówimy na przykładzie pracy we wrocławskim oddziale firmy Techland.</div>
<div id="lecture_time"><strong> Na wykład zapraszamy w sobotę o 19:30 </strong></div>
</article>


<h2>{% trans "Lectures suggested" %}</h2>

{% if lectures %}
{% for lecture in lectures %}
	<article class="lecture">
		<h3>{{ lecture.title }}</h3>
		<strong class="lecture_author">{{ lecture.author }}</strong>
		{{ lecture.abstract|textile }}
	</article>
{% endfor %}
{% else %}
    {% trans "None yet. You can be first!" %}<p />
{% endif %}

{% if not messages %}
{% if lecture_proposition_form %}
<h2>{% trans "Suggest your lecture" %}</h2>
    <form action="." method="post">
    <fieldset>
    <legend>{% trans "Public info" %}</legend>
        <ol>
            <li>
                {% if lecture_proposition_form.title.errors %}
                <ul class="errorlist">
                {% for error in lecture_proposition_form.title.errors %}
                    <li>{{error|escape}}</li>
                {% endfor %}
                </ul>
                {% endif %}
            <label for="id_title">{% trans "Title" %}</label>
            {{ lecture_proposition_form.title }}
            </li>
            <li>
                {% if lecture_proposition_form.duration.errors %}
                <ul class="errorlist">
                {% for error in lecture_proposition_form.duration.errors %}
                    <li>{{error|escape}}</li>
                {% endfor %}
                </ul>
                {% endif %}
            <label for="id_duration">{% trans "duraszatan" %}<span>{% trans "inminutes" %}</span></label>
            {{ lecture_proposition_form.duration }}
            </li>
            <li>
                {% if lecture_proposition_form.abstract.errors %}
                <ul class="errorlist">
                {% for error in lecture_proposition_form.abstract.errors %}
                    <li>{{error|escape}}</li>
                {% endfor %}
                {% endif %}
                <label for="id_abstract">{% trans "Abstract" %}<span>{% trans "(max chars)" %}</span></label>
            {{ lecture_proposition_form.abstract }}
            </li>
        </ol>
    </fieldset>
    <fieldset>
    <legend>{% trans "Additional information" %}</legend>
        <ol>
            <li>
                {% if lecture_proposition_form.info.errors %}
                <ul class="errorlist">
                {% for error in lecture_proposition_form.info.errors %}
                    <li>{{error|escape}}</li>
                {% endfor %}
                </ul>
                {% endif %}
                <label for="id_info">{% trans "Your suggestions, requests and comments intended for organizers and a lot more, what you always wanted to say these philistinic bastards with purulent knees" %}</label>
                {{ lecture_proposition_form.info }}
            </li>
{#            <li> #}
{#            <p> #}
{#            Nasz partner - portal <a href="http://sprezentuj.pl">Sprezentuj.pl</a> - przygotował dla prelegentów specjalne upominki. Sprezentuj.pl to jednak tylko trafione prezenty - więc by sprostać zadaniu, prosimy w imieniu sponsora o utworzenie konta w serwisie <a href="http://sprezentuj.pl">Sprezentuj.pl</a> i dodanie do swojej listy prezentów upominku (o wartości do 80zł), który chciał(a)byś otrzymać. Na koniec prosimy o podanie nazwy użytkownika serwisu <a href="http://sprezentuj.pl">Sprezentuj.pl</a> poniżej, a prezenty będą czekały!</p> #}
{#                {% if lecture_proposition_form.sprezentujpl_email.errors %} #}
{#                <ul class="errorlist"> #}
{#                {% for error in lecture_proposition_form.sprezentujpl_email.errors %} #}
{#                    <li>{{error|escape}}</li> #}
{#                {% endfor %} #}
{#                </ul> #}
{#                {% endif %} #}
{#            <label for="id_email">Login <a href="http://sprezentuj.pl">sprezentuj.pl</a></label> #}
{#            {{ lecture_proposition_form.sprezentujpl_email }} #}
{#            </li> #}
         </ol>
    </fieldset>
    <p><input type="submit" value="{% trans "Suggest" %}" /></p>
    </form>

{% endif %}
{% endif %}

{% endblock content %}

{% block right_column %}
{% if user.is_authenticated %}
    <h2>{% trans "Yes we can" %}</h2>
    <p>{% trans "Hurray" %}</p>
{% else %}
    <h2>{% trans "Ops, youre not logged in" %}</h2>
    <p>{% trans "You have to be registered" %}</p>
{% endif %}
{% endblock right_column %}
