{% extends "index.html"%}
{% load i18n %}
{% load markup %}

{% block css %}

.lecture p, #lecture_abstract {
	text-indent: 1.5em;
	text-align: justify;
	text-justify: inter-word;
	text-align-last: left;
	max-width: 45em;
}
strong.lecture_author + p { text-indent: 0; }
#lecture_author { margin-bottom: 2px;}
#lecture_abstract { margin-bottom: 5px;text-indent: 0;}
#lecture_time { margin-bottom: 1em;}
#note {
    color: #444444;
    font-family: 'Lucida Grande','Trebuchet MS',Verdana,Helvetica,Arial,sans-serif;
    font-size: 11px;
}

div.program {background: #fff; display: block;}
.cell_text1{margin-left: 10px; display:inline; }
.cell_text2{margin-left: 10px; display:inline; }
.cell_text3{margin-left: 30px; display:inline; }
div.cell_part_hour {margin-left: 30px; display: inline;}
div.cell_hour {display: inline; margin-top:10px;}
div.cell_hour_1 {display: inline; margin-left:6px;}

{% endblock css %}

{% block content %}


    <h2>Program</h2>
    <br>
    <h3>Czwartek</h3>
    <div class="program">
      <div class="row">
        <div class="cell_hour">20:00 - 21:30</div>
        <div class="cell_text1">Obiadokolacja</div>
      </div>

    <br/>
    <div style="margin-bottom: 8px">
    <div class="row">
        	<div class="cell_hour">21:30 - 21:40</div>
        	<div class="cell_text1">Oficjalne rozpoczęcie</div>
    </div>
    </div>

    <div style="margin-bottom: 8px">
    <div class="row">
    	<div class="cell_hour">21:40 - 22:40</div>

    	<div class="cell_text1"><strong>Sesja inauguracyjna</strong>, prowadząca: <strong>Dorota Suchocka</strong></div>
    </div>


    	<div class="row">
    		<div class="cell_part_hour">21:40 - 22:10</div>
     		<div class="cell_text2"><strong>Piotr Modrzyk</strong>, <a href="http://moosefs.org">MooseFS - coretechnology.pl</a>, <i>MooseFS - Highly Reliable Petabyte Storage</i></div>

    	</div>
    	<div class="row">
    		<div class="cell_part_hour">22:10 - 22:40</div>
    		<div class="cell_text2"><strong>Ania Dwojak</strong>, <a href="http://google.com">Google</a>, <i>MapReduce dla bardzo początkujących</i></div>
    	</div>
    </div>

    <div style="margin-bottom: 8px">
    <div class="row">
    	<div class="cell_hour">23:00 - 00:05</div>
    	<div class="cell_text1"><strong>Sesja 2</strong>, prowadzący: <strong>Maciej Jabłoński</strong></div>
    </div>
    	<div class="row">
    		<div class="cell_part_hour">23:00 - 23:30</div>

    		<div class="cell_text2"><strong>Miëtek Bak</strong>, <i>DTrace, czyli sekretne życie programów</i></div>
    	</div>
    	<div class="row">
    		<div class="cell_part_hour">23:30 - 23:50</div>
    		<div class="cell_text2"><strong>Jakub Michaliszyn</strong>, <i>Wpływ Królewny Śnieżki na informatykę</i></div>

    	</div>
    	<div class="row">
    		<div class="cell_part_hour">23:50 - 00:05</div>
    		<div class="cell_text2"><strong>Przemysław Pietrzkiewicz</strong>, <i>Do I really need that shot - metabolizm alkoholu</i></div>
    	</div>
    </div>
    <div style="margin-bottom: 8px">
    <div class="row">
    	<div class="cell_hour">00:00 -</div>

    	<div class="cell_text1">Karaoke</div>
    	</div>
    </div>
    </div><br><br>
    <h3>Piątek</h3>
    <div class="program">
    <div class="row">
    	<div class="cell_hour_1">8:00 -&nbsp;&nbsp;9:30</div>
    	<div class="cell_text1">Śniadanie</div>

    </div>
    <div class="row">
    	<div class="cell_hour">17:30 - 19:00</div>
    	<div class="cell_text1">Obiadokolacja</div>
    </div>
    <br/>
    <div style="margin-bottom: 8px">
    <div class="row">
    	<div class="cell_hour">16:30 - 18:10</div>
    	<div class="cell_text1"><strong>Sesja 3</strong>, prowadzący: <strong>Karol Błażejowski</strong></div>

    </div>
    	<div class="row">
    		<div class="cell_part_hour">16:30 - 17:00</div>
    		<div class="cell_text2"><strong>Marcin Janowski</strong>, <i>Bezpieczeństwo lokalne w Linuksie</i></div>
    	</div>
    	<div class="row">
    		<div class="cell_part_hour">17:05 - 17:35</div>

    		<div class="cell_text2"><strong>Paweł Hałdrzyński</strong>, <i>Czy prywatność w Sieci istnieje?</i></div>
    	</div>
    	<div class="row">
    		<div class="cell_part_hour">17:40 - 18:10</div>
    		<div class="cell_text2"><strong>Maciej Kotowicz</strong>, <i>Opowieści z ELFiej krainy</i></div>

    	</div>
    </div>
    <div style="margin-bottom: 8px">
    <div class="row">
    	<div class="cell_hour">18:10 - 19:00</div>
    	<div class="cell_text1">Przerwa na obiadokolację</div>
    </div>
    </div>
    <div style="margin-bottom: 8px">
    <div class="row">
    	<div class="cell_hour">19:00 - 20:40</div>

    	<div class="cell_text1"><strong>Sesja 4</strong>, prowadzący: <strong>Jerzy Marcinkowski</strong></div>
    </div>
    	<div class="row">
    		<div class="cell_part_hour">19:00 - 19:30</div>
    		<div class="cell_text2"><strong>Szymon Stefański</strong>, <a href="http://datax.pl">DATAX</a>, <i>Halo, halo? Tracę zasięg.</i> </div>

    	</div>
    	<div class="row">
    		<div class="cell_part_hour">19:35 - 20:05</div>
    		<div class="cell_text2"><strong>Björn Pelzer</strong>, <i>Deductive Question Answering</i></div>
    	</div>
    	<div class="row">
    		<div class="cell_part_hour">20:10 - 20:40</div>

    		<div class="cell_text2"><strong>Filip Sieczkowski</strong>, <i>MedLey, czyli mieszanka funkcjonalna</i></div>
    	</div>
    </div>
    <div style="margin-bottom: 8px">
    <div class="row">
    	<div class="cell_hour">21:00 - 22:40</div>
    	<div class="cell_text1"><strong>Sesja 5</strong></div>
    </div>

    	<div class="row">
    		<div class="cell_part_hour">21:00 - 21:20</div>
    		<div class="cell_text2"><strong>Lacramioara Astefanoaei</strong>, <i>Time of the numbers</i></div>
    	</div>
    	<div class="row">
    		<div class="cell_part_hour">21:25 - 21:45</div>

    		<div class="cell_text2"><strong>Kinga Mielcarska</strong>, <i>Bioinformatyka – nowa dziedzina na pograniczu nauk</i></div>
    	</div>
    	<div class="row">
    		<div class="cell_part_hour">21:45 - 22:05</div>
    		<div class="cell_text2"><strong>Magda Mielczarek</strong>, <i>Bioinformatyka - Łatwe drzewa filogenetyczne</i></div>

    	</div>
    	<div class="row">
    		<div class="cell_part_hour">22:10 - 22:40</div>
    		<div class="cell_text2"><strong>Maciek Piróg</strong>, <i>Białe skarpetki i czarne dziury</i></div>
    	</div>
    </div>
    <div class="row">
    	<div class="cell_hour">23:00 - 00:05</div>

    	<div class="cell_text1"><strong>Sesja 6</strong>, prowadzący: <strong>Radosław Warzocha</strong></div>
    </div>
    	<div class="row">
    		<div class="cell_part_hour">23:00 - 23:30</div>
    		<div class="cell_text2"><strong>Marek Materzok</strong>, <i>Reaktywnie deklaratywnie</i></div>
    	</div>

    	<div class="row">
    		<div class="cell_part_hour">23:35 - 00:05</div>
    		<div class="cell_text2"><strong>Adam Działak</strong>, <i>Demoscena – sztuka malowana algorytmami</i></div>
    	</div>
    </div><br><br>
    <h3>Sobota</h3>
    <div class="program">
    <div class="row">

    	<div class="cell_hour"> 8:00 -  9:30</div>
    	<div class="cell_text1">Śniadanie</div>
    </div>
    <div class="row">
    	<div class="cell_hour">17:30 - 19:00</div>
    	<div class="cell_text1">Obiadokolacja</div>
    </div>
    <br/>

    <div style="margin-bottom: 8px">
    <div class="row">
    	<div class="cell_hour">10:00 - 13:00	</div>
    	<div class="cell_text1"><strong>Jakub Stępniewicz</strong>, <i>WEPnijmy się do sieci - warsztaty</i></div>
    </div>
    </div>
    <div style="margin-bottom: 8px">
    <div class="row">
    	<div class="cell_hour">16:30 - 18:10	</div>

    	<div class="cell_text1"><strong>Sesja 7</strong>, prowadzący: <strong>Arkadiusz Flinik</strong></div>
    </div>
    	<div class="row">
    		<div class="cell_part_hour">16:30 - 17:00</div>
    		<div class="cell_text2"><strong>Anna Stożek</strong>, <i>UWAGA promieniowanie!</i></div>
    	</div>

    	<div class="row">
    		<div class="cell_part_hour">17:05 - 17:35</div>
    		<div class="cell_text2"><strong>Maciek Jabłoński</strong>, <i>Backbone.js, czyli jak przestałem się martwić i pokochałem Javascript</i></div>
    	</div>
    	<div class="row">
    		<div class="cell_part_hour">17:40 - 18:10</div>

    		<div class="cell_text2"><strong>Paweł Kalinowski</strong>, <i>Takie rzeczy tylko w eRze</i></div>
    	</div>
    </div>
    <div style="margin-bottom: 8px">
    <div class="row">
    	<div class="cell_hour">18:10 - 19:00</div>
    	<div class="cell_text2">Przerwa na obiadokolację</div>
    </div>

    </div>
    <div style="margin-bottom: 8px">
    <div class="row">
    	<div class="cell_hour">19:00 - 20:30</div>
    	<div class="cell_text1"><strong>Sesja 8</strong></div>
    </div>
    	<div class="row">
    		<div class="cell_part_hour">19:00 - 19:30</div>
    		<div class="cell_text2"><strong>Bartosz Ćwikłowski</strong>, <a href="http://clearcode.cc">ClearCode</a>, <i>Co ma wspólnego aukcja z banerem reklamowym?</i></div>

    	</div>
    	<div class="row">
    		<div class="cell_part_hour">19:35 - 20:20</div>
    		<div class="cell_text2"><strong>Hans de Nivelle</strong>, <i>The Kutta-Joukowski theorem</i></div>
    	</div>
    	<div class="row">
    		<div class="cell_part_hour">20:25 - 20:30</div>

    		<div class="cell_text2"><strong>Linda Smug</strong>, <i>Zapach genów</i></div>
    	</div>
    </div>
    <div style="margin-bottom: 8px">
    <div class="row">
    	<div class="cell_hour">20:50 - 22:30</div>
    	<div class="cell_text1"><strong>Sesja 9</strong>, prowadzący: <strong>Maciej Piróg</strong></div>

    </div>
    	<div class="row">
    		<div class="cell_part_hour">20:50 - 21:20</div>
    		<div class="cell_text2"><strong>Janusz Dziemidowicz</strong>, <a href="http://nk.pl">nk.pl</a>, <i>Let's make the web faster</i></div>
    	</div>
    	<div class="row">

    		<div class="cell_part_hour">21:25 - 21:55</div>
    		<div class="cell_text2"><strong>Adam Sowiński</strong>, <a href="http://nk.pl">nk.pl</a>, <i>Jak radzić sobie z dużymi bazami SQL w praktyce</i></div>
    	</div>
    	<div class="row">
    		<div class="cell_part_hour">22:00 - 22:30</div>

    		<div class="cell_text2"><strong>Jerzy Marcinkowski</strong>, <i>O zmaganiach z Jakubem...</i></div>
    	</div>
    </div>
    <div class="row">
    	<div class="cell_hour">22:50 - 00:05</div>
    	<div class="cell_text1"><strong>Sesja 10</strong>, prowadząca: <strong>Dominika Rogozińska</strong></div>

    </div>
    	<div class="row">
    		<div class="cell_part_hour">22:50 - 23:20</div>
    		<div class="cell_text2"><strong>Daniel Dobrijałowski</strong>, <i>Gdzie i jak liczyć?</i></div>
    	</div>
    	<div class="row">
    		<div class="cell_part_hour">23:25 - 00:05</div>

    		<div class="cell_text2"><strong>Karol Błażejowski</strong>, <i>O białej piance, ale bardziej o tym co jest pod nią</i></div>
    	</div>
    </div><br><br>
    <h3>Niedziela</h3>
    <div class="program">
      <div class="row">
        <div class="cell_hour">8:00-9:30</div>
        <div class="cell_text1">Śniadanie</div>

      </div>
      <div class="row">
        <div class="cell_hour">13:00</div>
        <div class="cell_text1">Wyjazd z ośrodka</div>
      </div>
      <div class="row">
        <div class="cell_hour">16:00</div>

        <div class="cell_text1">Powrót do Wrocławia</div>
      </div>
    </div>
    <br><br><br><br><br><br>


{% endblock content %}
