{% extends "index.html"%}
{% load i18n %}
{% load markup %}

{% block css %}

.lecture p, #lecture_abstract {
	text-indent: 1.5em;
	text-align: justify;
	text-justify: inter-word;
	text-align-last: left;
	max-width: 45em;
}
strong.lecture_author + p { text-indent: 0; }
#lecture_author { margin-bottom: 2px;}
#lecture_abstract { margin-bottom: 5px;text-indent: 0;}
#lecture_time { margin-bottom: 1em;}
#note {
    color: #444444;
    font-family: 'Lucida Grande','Trebuchet MS',Verdana,Helvetica,Arial,sans-serif;
    font-size: 11px;
}

div.program {background: #fff; display: block;}
.cell_text1{margin-left: 10px; display:inline; }
.cell_text2{margin-left: 10px; display:inline; }
div.cell_part_hour {margin-left: 30px; display: inline;}
div.cell_hour {display: inline; margin-top:10px;}
div.cell_hour_1 {display: inline; margin-left:6px;}

{% endblock css %}

{% block content %}

<h2>{% trans "Program" %}</h2>
<br>
<h3>Czwartek</h3>

<div class="program">
  <div class="row">
    <div class="cell_hour">19:00-21:30</div>
    <div class="cell_text1">obiadokolacja</div>
  </div>
  <div class="row">
    <div class="cell_hour">20:15-21:00</div>
    <div class="cell_text1">niespodzianka</div>
  </div><br>
  <div class="row">
    <div class="cell">21:00-22:00</div>
  </div>
  <div class="row">
    <div class="cell_part_hour">21:00-21:25</div>
    <div class="cell_text2">Oficjalne rozpoczęcie</div>
  </div>
  <div class="row">
    <div class="cell_part_hour">21:30-22:00</div>
    <div class="cell_text2"><strong>Maciej Piróg</strong>, <i>Przychodzi baba do fryzjera i mówi: Proszę pół trwałej</i></div>
  </div>
  <div class="row">
    <div class="cell">22:30-23:55</div>
  </div>
  <div class="row">
    <div class="cell_part_hour">22:30-22:45</div>
    <div class="cell_text2"><strong>Marcin Włodarczak</strong>, <i>Wirtualizacja zasobów IT</i></div>
  </div>
  <div class="row">    
    <div class="cell_part_hour">22:45-23:15</div>
    <div class="cell_text2"><strong>Przemysław Pietrzkiewicz</strong>, <i>Algorytmy wizyjne dla mas</i></div>
  </div>
  <div class="row">
    <div class="cell_part_hour">23:15-23:55</div>
    <div class="cell_text2"><strong>Krzysztof Sakwerda</strong>, <i>Proof Carrying Code - a co to takiego?</i></div>
  </div>
</div> 
<br><br>
<h3>Piątek</h3>

<div class="program">
  <div class="row">
    <div class="cell_hour_1">8:30-10:30</div>
    <div class="cell_text1">śniadanie</div>
  </div>
  <div class="row">
    <div class="cell_hour">16:30-19:00</div>
    <div class="cell_text1">obiadokolacja</div>
  </div>
  <div class="row">
    <div class="cell_hour">10:00-16:00</div>
    <div class="cell_text1">wycieczka na <a href="http://www.karkonosze.info.pl/mapy/szlaki_szklarska.htm">Łabski Szczyt</a> (zbiórka pod A)</div>
  </div><br>
  <div class="row">
    <div class="cell_hour">17:00-18:30</div>
  </div>
  <div class="row">    
    <div class="cell_part_hour">17:00-17:45</div>
    <div class="cell_text2"><strong>Paweł Sadowski</strong>, <a href="http://nk.pl/">nk.pl</a>, <i>Zarządzanie obciążeniem serwerów w klastrze webowym.</i></<div>
  </div>
  <div class="row">    
    <div class="cell_part_hour">17:45-18:30</div>
    <div class="cell_text2"><strong>Marek Ziółkowski</strong>, <a href="http://nk.pl/">nk.pl</a>, <i>Jak się programuje w NK</i></div>
  </div>
  <div class="row">
    <div class="cell_hour">19:00-20:15</div>
  </div>
  <div class="row">    
    <div class="cell_part_hour">19:00-19:30</div>
    <div class="cell_text2"><strong>Dariusz Jackowski</strong>, <i>Prezentacja osiągnieć EMI</i></div>
  </div>
  <div class="row">    
    <div class="cell_part_hour">19:30-20:15</div>
    <div class="cell_text1"><strong>Filip Sieczkowski</strong>, <i>Weryfikacja zaawansowanych struktur danych w HOSL</i></div>
  </div>
  <div class="row">
    <div class="cell_hour">20:45-22:05</div>
  </div>
  <div class="row">    
    <div class="cell_part_hour">20:45-21:15</div>
    <div class="cell_text2"><strong>Patryk Obara</strong></div>
  </div>
  <div class="row">    
    <div class="cell_part_hour">21:15-21:45</div>
    <div class="cell_text2"><strong>Marek Materzok</strong>, <i>Wyklikaj sobie dowód</i></div>
  </div>
  <div class="row">   
    <div class="cell_part_hour">21:45-22:05</div>
    <div class="cell_text2"><strong>Piotr Wasilewski</strong>, <i>Wordpress dla freelancera</i></div>
  </div>
  <div class="row">
    <div class="cell_hour">22:30-23:40</div>
  </div>
  <div class="row">    
    <div class="cell_part_hour">22:30-22:55</div>
    <div class="cell_text2"><strong>Paweł Hałdrzyński</strong>, <i>Co za dużo to niezdrowo</i></div>
  </div>
  <div class="row">    
    <div class="cell_part_hour">22:55-23:40</div>
    <div class="cell_text2"><strong>Janusz Dziemidowicz</strong>, <i>OpenSocial w nk.pl</i></div>
  </div>
</div> 
<br><br>
<h3>Sobota</h3>

<div class="program">
  <div class="row">
    <div class="cell_hour_1"> 8:30-10:30</div>
    <div class="cell_text1">śniadanie</div>
  </div>
  <div class="row">
    <div class="cell_hour">16:30-19:00</div>
    <div class="cell_text1">obiadokolacja</div>
  </div><br>
  <div class="row">
    <div class="cell_hour">10:00-15:30</div>
    <div class="cell_text1">Warsztaty CodeRetreat@ZOSIA2011</div>
  </div>   
  <div class="row">
    <div class="cell_part_hour">10:00-10:40</div>
    <div class="cell_text2"> Wprowadzenie: co to jest TDD i jak je stosować?</div>
  </div>
  <div class="row">    
    <div class="cell_part_hour">10:40-15:00</div>
    <div class="cell_text2"> Cztery sesje programowania w parach (45 min), rozdzielone 15–20 min przerwami</div>
  </div>
  <div class="row">   
    <div class="cell_part_hour">15:00-15:30</div>
    <div class="cell_text2"> Podsumowanie i dyskusja</div>
  </div><br>
  <div class="row">
    <div class="cell_hour">17:30-18:30</div>
    <div class="cell_text2"><strong>Cezary Dołęga</strong>, <a href="http://www.neurosoft.pl/?lang=pl">Neurosoft</a>, <i>Sztuczna inteligencja w praktyce</i></div>
  </div>
  <div class="row">
    <div class="cell_hour">19:00-20:15</div>
  </div>
  <div class="row"> 
    <div class="cell_part_hour">19:00-19:30</div>
    <div class="cell_text2"><strong>Maciej Kotowicz</strong>, <i>Typowy bughunting</i></div>
  </div>
  <div class="row">  
    <div class="cell_part_hour">19:30-20:15</div>
    <div class="cell_text2"><strong>Paweł Rohleder, Tomasz Urbański</strong>, <a href="http://www.techland.pl/">Techland</a>, <i>Tworzenie gier to nie zabawa</i></div>
  </div>
  <div class="row">
    <div class="cell_hour">20:45-22:05</div>
  </div>
  <div class="row">
    <div class="cell_part_hour">20:45-21:45</div>
    <div class="cell_text2"><strong>Hans de Nivelle</strong>, <i><a href="http://cade23.ii.uni.wroc.pl/">CADE 23</a> in Wroclaw</i></div>
  </div>
  <div class="row">
    <div class="cell_part_hour">21:45-22:05</div>
    <div class="cell_text2"><strong>Jerzy Marcinkowski</strong></div>
  </div>
  <div class="row">
    <div class="cell_hour">22:30-23:35</div>
  </div>
  <div class="row">    
    <div class="cell_part_hour">22:30-22:50</div>
    <div class="cell_text2"><strong>Jakub Michaliszyn</strong>, <i>Za kulisami nauki</i></div>
  </div>
  <div class="row">
    <div class="cell_part_hour">22:50-23:35</div>
    <div class="cell_text2"><strong>Paweł Nowoświat</strong>, <i>Skrzydlaci zabójcy</i></div>
  </div>
</div>
<br><br>
<h3>Niedziela</h3>
<div class="program"> 
  <div class="row">
    <div class="cell_hour_1">8:30-10:30</div>
    <div class="cell_text1">śniadanie</div>
  </div>
</div> 

{% endblock content %}
