{% extends "index.html" %}

{% block javascript %}
var rooms = rooms || {}; // namespace

rooms.main = function() {
    alert(1);
}

/**
 * this is cross-browser. or so "they" say
 */
function ajax(url, vars, callbackFunction) {
  var request =  new XMLHttpRequest();
  request.open("POST", url, true);
  request.setRequestHeader("Content-Type",
                           "application/x-www-form-urlencoded");
  request.onreadystatechange = function() {
    var done = 4, ok = 200;
    if (request.readyState == done && request.status == ok) {
      if (request.responseText) {
        callbackFunction(request.responseText);
      }
    }
  };
  request.send(vars);
}
{% endblock %}

{% block onload %}
rooms.main()
{% endblock %}

{% block content %}
Zzz...
{% for room in rooms_list %}
    <div>
        {{ room.number }}
        -
        (0/{{ room.capacity }})
    </div>
{% endfor %}
{% endblock %}
