{% extends "index.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="../../../../jsi18n/"></script>
{% endblock %}
{% block stylesheet %}{% admin_media_prefix %}css/forms.css{% endblock %}
{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}
{% block content %}<div id="content-main">


{% if pc_form.errors %}
    <p class="errornote">
    {% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
{% endif %}

<form action="." method="POST" id="{{ opts.module_name }}_form">
{% block form_top %}{% endblock %}
<div>
<fieldset>
<ol>
    <li>
    {{ pc_form.old_password.errors }}
    <label for="id_old_password">Stare hasło</label>
    <input type="password" name="old_password" id="id_old_password" />
    </li>
    <li>{{ pc_form.new_password1.errors }}
    <label for="id_new_password1">Nowe hasło</label>
    <input type="password" name="new_password1" id="id_new_password1" />
    </li>
    <li>{{ pc_form.new_password2.errors }}
    <label for="id_new_password2">{% trans 'Password (again)' %}</label>
    <input type="password" name="new_password2" id="id_new_password2" />
    </li>
</ol>
</fieldset>
<input type="submit" value="{% trans 'Change password' %}" class="default" />
<script type="text/javascript">document.getElementById("id_password1").focus();</script>
</div>
</form></div>
{% endblock %}
