<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>ZOSIA | {{ title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="Content-Language" content="en,pl" />
<!-- (en) Add your meta data here -->
<link href="../static_media/css/layout_2col_right_13.css" rel="stylesheet" type="text/css"/>
<!--[if lte IE 7]>
<link href="../static_media/css/patches/patch_2col_right_13.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<div id="page_margins">
	<div id="page">
		<div id="header">
			<div id="topnav">
				<!-- start: skip link navigation -->
				<a class="skip" href="#navigation" title="skip link">Skip to the navigation</a><span class="hideme">.</span>
				<a class="skip" href="#content" title="skip link">Skip to the content</a><span class="hideme">.</span>
				<!-- end: skip link navigation -->
                <span> {{ user.first_name }} | <a href="#">Login</a> | <a href="/register/">Register</a></span> </div>
            <h1>ZOSIA | {{ title }}</h1>
			<span>Zimowy Obóz Studentów Informatyki A &#8226; Bagdag'2009</span></div>
		<!-- begin: main navigation #nav -->
		<div id="nav"> <a id="navigation" name="navigation"></a>
			<!-- skiplink anchor: navigation -->
			<div id="nav_main">
				<ul>
					<li id="current"><a href="/blog/">Blog</a></li>
					<li><a href="/lectures/">Lectures</a></li>
					<li><a href="/rooms/">Rooms</a></li>
				</ul>
			</div>
		</div>
		<!-- end: main navigation -->
		<!-- begin: main content area #main -->
		<div id="main">
			<!-- begin: #col1 - first float column -->
			<div id="col1">
				<div id="col1_content" class="clearfix"> <a id="content" name="content"></a>
					<!-- skiplink anchor: Content -->
                    {% block content %}page content{% endblock %}
				</div>
			</div>
			<!-- end: #col1 -->
			<!-- begin: #col3 static column -->
			<div id="col3">
				<div id="col3_content" class="clearfix">
                    {% block right_column %}{% endblock %}
				</div>
				<div id="ie_clearing">&nbsp;</div>
				<!-- End: IE Column Clearing -->
            </div>
			<!-- end: #col3 -->
		</div>
		<!-- end: #main -->
		<!-- begin: #footer -->
        <div id="footer">
            Copyleft <img src="/static_media/images/Copyleft.svg" alt="copyleft" style="width:0.8em"/> all rights reversed | <a href="http://github.com/dreamer/zapisy_zosia">src</a><br />
            Layout based on <a href="http://www.yaml.de/">YAML</a>
        </div>
		<!-- end: #footer -->
	</div>
</div>
</body>
</html>
